/*
* @Author: wx
* @Date:   2017-12-27 10:16:37
* @Last Modified by:   wx
* @Last Modified time: 2018-05-14 18:09:12
*/


.linecontainer{
    width:100%;
    height:350px;
    overflow-x:scroll;
}
.linecontainer canvas{

}
.linecontainer div div:first-child{
    width:100%!important
}
