ul,li{
  list-style: none;
}
.history{
    background: #fff;
}
.history .navbar{
   border-bottom:2px solid #eee;
}
.history p{
    font-size: 16px;
color: #333333;
letter-spacing: 0.2px;
line-height: 40px;
height:40px;
margin-left:20px;
padding-top: 44px;
margin-bottom: 40px;
}
.history ul{
    padding:0 10px;
}
.history li{
list-style: none;
border-bottom:1px solid #eee;
height:40px;
line-height: 40px;
margin-top:10px;
}
.history li .name{
    font-size: 14px;
color: #333333;
letter-spacing: 0.2px;
float:left;
margin-left:20px;

}
.history li .value{
font-size: 14px;
color: #2283E2;
letter-spacing: 0.2px;
float:right;
margin-right:20px;

}