.picker-list{
    padding-top: 44px;
}
.curve .iconRight{
    position: absolute;
    right: 16px;
    width: 32px;
    margin: 0;
    font-size: 16px;
    color: #2283E2;
}
.curve .am-list-item .am-list-line{
    padding-left:15px;
}
.curve .am-list-body .am-list-line{
    border-bottom:1px solid #ddd !important;
}
.curve .title{
    font-size:17px;
    color:#333;
}
.curve p{
    font-size: 16px;
    color: #333333;
    margin: 12px 0 0 15px;
}
.curve .del{
    width:200px;
    height:42px;
    background: #ff4040;
    border-radius: 100px;
    font-size: 18px;
    color: #FFFFFF;
    text-align: center;
    line-height: 42px;
    margin:40px auto 0;
}
