
.container-true{
  width: 48px;
  height: 48px;
  margin: auto;
  border-radius: 14px;
  border: 1px solid #fff;
  text-align: center;
  -moz-box-shadow:2px 5px 6px #e6eaf5;
  -webkit-box-shadow:2px 5px 6px #e6eaf5;
  box-shadow:2px 5px 6px #e6eaf5;
}
.container-true img{
  width:48px !important;
  height: 48px !important;
  border-radius: 14px;
  border: none;
  position: relative;
  top:-0.6px;
  left: -0.9px;
}

.container-true p{
  //margin-top: 10px;
  font-size: 14px;
}

.container{
  width: 48px;
  height: 48px;
  margin: auto;
  border-radius: 14px;
  border: 1px solid #fff;
  text-align: center;
  -moz-box-shadow:2px 5px 6px #e6eaf5;
  -webkit-box-shadow:2px 5px 6px #e6eaf5;
  box-shadow:2px 5px 6px #e6eaf5;
}
.container img{
  width:48px !important;
  height: 48px !important;
  border-radius: 14px;
  border: none;
  position: relative;
  top:-0.6px;
  left: -0.6px;
}