ul,li{
	padding: 0;
	margin:0;
	
}
.sleepingCurve{
  background: #f5f5f5;
  height: 100%;
}
.sleepingCurve .iconRight{
    position: absolute;
    background-size: 30px 60px;
    right: 16px;
    width: 32px;
    margin: 0;
    font-size: 16px;
    color: #2283E2;
}
.sleepingCurve ul{
    padding-top: 44px;
    background: #f5f5f5;
    overflow: auto;
}
.sleepingCurve li{
    height:60px;
    line-height: 60px;
    position: relative;
    margin-top:8px;
    background: #fff;
}
.sleepingCurve li span{
    display: inline-block;
    position: absolute;
}
.sleepingCurve li .icon_left{
    width:22px;
    height:22px;
    background: url(images/icon_left.png) no-repeat;
    background-size:100%;
    left:12px;
    top:19px;
}
.sleepingCurve li .icon_left.icon_left_select{
    background: url(images/icon_left_select.png) no-repeat;
    background-size:100%;
}
.sleepingCurve li .name{
    font-size: 16px;
    color: #333;
    left:44px;
}
.sleepingCurve li .defaultTime{
    font-size: 14px;
    color: #999999;
    left:118px;
}
.sleepingCurve li .icon_right{
    width:20px;
    height:20px;
    background:url(images/icon_right.png) no-repeat;
    background-size: contain;
    right:12px;
    top: 19px;
}
.sleepingCurve .btn{
    width:200px;
    height:40px;
    background-image: linear-gradient(90deg, #27B5E9 0%, #2283E2 100%);
    border-radius: 100px;
    font-size: 18px;
    color: #FFFFFF;
    text-align: center;
    line-height: 42px;
    margin:10px auto;
}
