
body #root{
    background: #E6E6E6 !important;
}
.timing{
    background-color: #FFFFFF;
}
.am-list-item{
	padding-left:0px;
}
.timing .am-list-item .am-list-line{
    padding-left:15px;
}
.timing .btn{
    width:90%;
    margin:40px auto 0;
    opacity: 0.65;
    background-color: #2283E2;
    border-radius: 5px;
    font-size: 18px;
    color: #FFFFFF;
    line-height: 34px;
    text-align: center;
}
.timing .btn.pause{
    background: #FF4040;
}
.am-picker-col-indicator {
    color: #2283E2 !important;
}
.am-picker-popup-body .am-picker-popup-title{
    color: #ddd;
}
.am-picker-col:first-child::after{
    content: '小时';
    position: absolute;
    top: 102px;
    right: 10vw;
    color: #2283E2;
    height: 34px;
    line-height: 34px;
}
.am-picker-col:last-child::after{
    content: '分钟';
    position: absolute;
    top: 102px;
    right: 10vw;
    color: #2283E2;
    height: 34px;
    line-height: 34px;
}
.upcore-navbar{
    line-height: 41px;
    position: inherit;
}
.upcore-navbar .time-save{
    position: absolute;
    top: 8px;
    right: 12px;
    height: 24px;
    line-height: 24px;
}
.timingSpace{
    width: 100%;
    height: 22px;
    background-color: #E6E6E6;
}
.timingtype{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 44px;
    padding: 0 17px;
}
.timingtype .title{
    flex-shrink: 0;
    font-size: 17px;
}
.timingtype .timingToggle{
    display: flex;
    flex-wrap: nowrap;
    color:#929292;
}
.timingtype .timingToggle.timingGrow{
    flex-grow: 1;
    justify-content: space-between;
    margin-left: 20px;
}
.timingtype .timingToggle.timingGrow input[type="checkbox"]{
    display: none;
}
.timingtype .timingToggle>button{
    width: 50px;
    height: 20px;
    background-color: #EEEEEE;
    font-size: 12px;
    color:#929292;
}
.timingtype .timingToggle>button.active{
    background-color: #3275F8;
    color: white;
}
.timingtype .timingToggle>label{
    width: 26px;
    height: 26px;
    border-radius: 100%;
    text-align: center;
    line-height: 26px;
}
.timingtype .timingToggle>label.active{
    background-color: #3275F8;
    color: white;
}