p{
	margin:0;
	padding:0;
}
.main{
    width: 100%;
    height: 100%;
    position: absolute;
    top:44px;
    left: 0px;   
    text-align: center;
}
.main > p{
    color: #878787;
    font-size: large;
}
.main > p:nth-child(1){
    margin-top: 15%;
}
.main > p:nth-child(2){
    font-size: 70px;
    color: #64d943;
}
.main > p:nth-child(6){
    font-size: small;
    margin-top: 15px;
}
.main >span{
    font-size: 28px;
    color: #64d943;
    position: absolute;
    top:17%;
    right: 18%;
}
.main >img{
    width: 96%;
    height: 160px;
    position: absolute;
    bottom: 2%;
    left: 2%;
    border: 0px;
}
.cleaning{
    width: 100%;
    height: 1500px;
    height: auto!important;
    min-height: 700px;
    background-color: #f7f9fe;
    position: absolute;
    top:40px;
    left: 0px;
    z-index: 99;
}
.cleaning>p{
    text-align: center;
}
.cleaning>p:nth-child(1){
    margin-top: 35%; 
    color:#5a9dcd;
    font-size: larger;
}
.cleaning>div:nth-child(2){
    position: relative;
}
.cleaning>div:nth-child(2)>p{
    color:#5a9dcd;
    font-size: 65px;
    color: #000;
    text-align: center;
}
.cleaning>div:nth-child(2)>span{
    position: relative;
    top:-50px;
    left:64%;
    font-size:25px;
}
.cleaning>p:nth-child(3){
    color:#96b9e9;
    margin-top: 35%;
}
.cleaning>p:nth-child(4){
    color:#96b9e9;
}
.cleaning >iframe{
    height:14em;
    /*margin-top: 40%;*/
}
.cleaning >img{
    position: absolute;
    width: 68%;
    top:10%;
    left:16%;
}
.bt{
    width: 90%;
    height: 40px;
    margin-left: 5%;
    margin-top: 15px;
    color: #fff;
    font-size: large;
    line-height: 40px;
    border-radius: 5px;
    text-align: center;
    background-image: url('images/buttonBg.png');
    background-repeat: round;  
}
.cleanImg{
    width:55%;
}
.cleaningImg{
    -webkit-animation: imgRotate 4s linear infinite;
    animation: imgRotate 4s linear infinite;
}
.selfcleaning{
    width: 100%;
    height: 100%;
    padding-top: 5%;
    background-color: #f7f9fe;
    position: absolute;
    top:0px;
    left: 0px; 
    z-index: 99;  
}
.selfcleaning >div:nth-child(1){
    height: 220px;
    width:100%;
}
.selfcleaning >div:nth-child(2){
    margin-top: 20px;
}
.selfcleaning >p:nth-child(3){
    color: #878787;
    margin-top: 10px;
    text-align: center;
}
.selfcleaning >p:nth-child(4){
    color: #5a9dcd;
    text-align: center;
    font-size: small;
    margin-top: 55px;
}

.service{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0px;
    left: 0px;   
    text-align: center;
    z-index: 100;
    background-color: #f7f9fe;
}
.service > p{
    color: #878787;
    font-size: large;
}
.service > p:nth-child(1){
    margin-top: 15%;
}
.service > p:nth-child(2){
    font-size: 70px;
    color: #64d943;
}
.service > p:nth-child(6){
    font-size: small;
    margin-top: 15px;
}
.service > p:nth-child(7){
    font-size: small;
    color: #5a9dcd;
    margin-top: 15px;
}
.service >span{
    font-size: 28px;
    color: #64d943;
    position: absolute;
    top:17%;
    right: 18%;
}
.service >a{
    display: block;
    width: 90%;
    height: 40px;
    margin-left: 5%;
    margin-top: 15px;
    color: #fff;
    font-size: large;
    line-height: 40px;
    border-radius: 5px;
    text-align: center;
    background-image: url('images/buttonBg.png');
    background-repeat: round; 
}
.service >img{
    width: 96%;
    height: 160px;
    position: absolute;
    bottom: 2%;
    left: 2%;
    border: 0px;
}
.instruction{
    width: 100%;
    height: 100%;
    padding-top: 15%;
    position: absolute;
    top:0px;
    left: 0px;  
    background: #fff;
    overflow-y: auto; 
    z-index: 101;
}
.instruction >div:nth-child(1){
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: large;
}
.videoContent{
    width: 100%;
    /*height: 620px;*/
    height: 100%;
    /*padding-top: 15%;*/
    position: absolute;
    /*top:0px;*/
    left: 0px;  
    background: #fff;
    overflow-y: auto; 
    z-index: 101;
}
.videoContent iframe{
    width: 100%;
    height: 100%;
    left: 0;
    /*bottom: 0;*/
    bottom: 0 !important;
}

.airConditioningCleaning iframe{
    width: 96%;
    position: absolute;
    bottom: 2%;
    left: 2%;
    border: 0px;
}

@-webkit-keyframes imgRotate{
    0%{
        -webkit-transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(360deg);
    }
}
@keyframes imgRotate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
